@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Fira+Sans:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Inconsolata:wght@400;700 & display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #88EE90;
    --cor1: #40EB4F;
    --cor2: #32B83D;
    --cor3: #1D6B23;
    --cor4: #3D6B41;
    --cor5: #22A36A;
    --fonte-padrao: 'Fira Sans', sans-serif;
    --fonte-titulo: 'Android', cursive;
    --fonte-destaque: 'Inconsolata', monospace;
}
body{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(0deg, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    padding-top: 40px;
}
header > h1{
    margin-bottom: 30px;
    font: normal bold 3em var(--fonte-destaque);
    text-align: center;
    text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
}
header > p{
    font: normal bold 1.1em var(--fonte-padrao);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 3px 3px 2px rgb(0 0 0 / 60%);
}
nav{
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 5px 3px 0px rgb(0 0 0 / 30%);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition-duration: 0.4s;
}
nav > a:hover{
    background-color: var(--cor5);
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.425);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 930px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    margin-bottom: 30px;
    border-radius: 0px 0px 6px 6px;   
}
main p{
    text-indent: 40px;
    text-align: justify;
    margin: 14px 0px;
    line-height: 2em;
    font-size: 1.1em;
}

main h1{
    font-family: var(--fonte-titulo);
    background-image: linear-gradient(50deg, var(--cor2), transparent)
}
main h2{
    font-family: var(--fonte-titulo);
    background-image: linear-gradient(50deg, var(--cor2), transparent)
}
main img{
    max-width: 100%;
    display: block;
    margin: auto;
}
main img#pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div#video{
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px 0px; 
    position: relative;
    padding-bottom: 50%;
}
div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main strong{
    color: var(--cor2);
    font-weight: bold;
}
main a{
    text-decoration: none;
    color: var(--cor1);
}
main a::after{
    content: ' 🔗';
}
main a:hover{
    background-color: var(--cor4);
    transition-duration: 0.4s;
    padding: 3px;
    border-radius: 6px;
    text-decoration: underline;
}

aside{
    background-color: var(--cor0);
    border-radius: 6px;
    box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 43%);

}
aside h3{
    font-family: var(--fonte-destaque);
    background-color: var(--cor4);
    color: white;
    font-size: 1.4em;
    padding: 3px;
    border-radius: 6px 6px 0px 0px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0'
}

footer{
    background-color: var(--cor3);
}
footer p{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 0.9em;
}